.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #038992fd;
	color: #c8fafdfd;
}

div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
}

button {
	height: 30px;
	width: 25%;
	margin: 2%;
	padding: 1%;
	font-size: 14px;
}
